.stockStatus {
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
}

.price {
    width: 10%;
    min-width: 80px;
}

.number {
    min-width: 140px;
}

.status {
    min-width: 200px;
}