.box{
	width:40px;
    height:40px;
    display: inline-block;
}
 
.red{
	background:#f00;
}

.imageEveryday {
    border-bottom: solid yellow 2px;
}

.musicEveryday {
    border-bottom: solid lightblue 2px;
}

.videoEveryday {
    border-bottom: solid pink 2px;
}

.musicEveryday.imageEveryday {
    border-bottom: solid lightgreen 2px;
}


.hideMissedDays {
    display: none;
}

.splitByMonth {
    height: 10px;
    display: block;
}

.yearHeader {
    display: block;
}

.dontSplitByMonth {
    display: none;
}

.typeIcon {
    padding: 0 15px;
}

.typeIconClick {
    cursor: pointer;
}

.highlighted {
    opacity: 0.2;
}

.show {
    opacity: 1;
}

.chartContainer {
    width: 100%;
    padding-top: 60%;
    position: relative;
}
  
.chart {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}