header {
    position: relative;
    text-align: center;
    height: 150px;
    cursor: pointer;
}

.banner {
    height: 150px;
    position: fixed;
    z-index: 312;
    background: url(/assets/images/portrait.svg);
    background-repeat: no-repeat;
    background-position: left;
}

#header_wave{
    position:fixed;
    z-index:311;
    width: 100%;
    height: 150px;
    background: black;
}

.header_title{
    background: url(/assets/images/yusuf.svg);
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    text-align: center;
    font-size: 1.25rem;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: black;
}

nav a:hover {
    color: #666;
    text-decoration: none;
}
