.month_container {
    padding-bottom: 20px;
}

.month_small {
    font-size: 0.8em;
}

.loading_container {
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

.load_more {
    cursor: pointer;
}