<section class="text_container">
    <div class="everyday">
        <img (click)="open()" id="{{display.id}}" *ngIf="display.theme.medium == 0" class="fade dim" src="{{display.url + '?width=275&height=275&cropmode=center'}}"
            alt="">
        <div (click)="open()" *ngIf="display.theme.medium == 2" class="everyday_video_container fade">
            <video id="{{display.id}}">
                <source src="{{display.url}}" type="video/webm">
            </video>
        </div>
        <audio style="display:none" *ngIf="audio" id="{{audio.id}}" preload="none" src="{{audio.url}}"></audio>
    </div>
    <ng-template #source></ng-template>
    <ng-template #title></ng-template>
    <span class="inner_icon bottom_right">
        <span class="tooltip_container" *ngFor="let piece of everyday.pieces" [style.color]="piece.source ? 'grey' : 'white'">
            <span (click)="openSource(piece)" (mouseenter)="t.open();l.open();" (mouseleave)="t.close();l.close();" class="tooltips tooltip">
                <span class="tooltip" [ngbTooltip]="piece.title" container="body" placement="bottom" triggers="manual" #t="ngbTooltip"></span>
                <span class="tooltip" [ngbTooltip]="(piece.source && piece.source.title != piece.title) ? piece.source.title : ''" container="body" triggers="manual" #l="ngbTooltip"></span>
            </span>
            <i class="far fa-fw {{getIcon(piece)}}"></i>
        </span>
    </span>
    <span [hidden]="playing" (click)="toggle()" class="inner_icon bottom_left">
        <span [style.color]="'white'">
            <i class="far fa-fw fa-play"></i>
        </span>
    </span>
    <span [hidden]="!playing" (click)="toggle()" class="inner_icon bottom_left">
        <span [style.color]="'white'">
            <i class="far fa-fw fa-pause"></i>
        </span>
    </span>
</section>