.inner_icon {
    position: absolute;
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    z-index: 1000;
}

.tooltip_container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.tooltip_element {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.bottom_right {
    bottom: 3px;
    right: 3px;
}

.everyday {
    padding: 0px;
}

.small-everyday {
    border: 0;
    padding: 0px;
    font-size: 0.8em;
}

.text_container {
    position: relative;
    text-align: center;
    padding: 0;
}

vg-controls {
    background-color: rgba(0,0,0,0.7);
    height: 30px;
}

vg-fullscreen, vg-play-pause {
    height: 30px;
    width: 30px;
}

ng-template {
    z-index: 1001;
}

.pointer {
    cursor: pointer;
}

vg-player > video {
    opacity: 1;
}

vg-player:not(.fullscreen):hover > video {
    opacity:0.80;
}

vg-player:not(.fullscreen) {
    background-color: #FFF;
}