<a  [routerLink]="['']">
    <div class="header_title">
    </div>
</a>

<section class="container-fluid" class="everydays" infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onScroll()">
    <div class="row">
        <div *ngFor="let month of months; let i = index; trackBy: trackById" class="{{i == -1 ? 'col-lg-6 col-6 month_small' : 'col-12'}} month_container">
            <div class="container-fluid">
                <month [month]="month" (selected)='onSelected($event)'></month>
            </div>
        </div>
    </div>
</section>

<span *ngIf="!finishedLoading" class="loading_container">
    <a [style.cursor]="loading ? none : 'pointer'">
        <fa-icon (click)="onScroll()" [icon]="['fas', loading ? 'spinner' : 'chevron-down']" class="loading" [pulse]="loading ? true : false" size="2x"></fa-icon>
    </a>
</span>