.tileImage
{
    /* border: 1px solid black; */
    max-height: 250px;
    max-width: 250px;
    width: 100%;
    cursor: pointer;
}

.tileContainer {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    max-width: 250px;
}

.imageContainer {
    position: relative;
}

.topright {
    position: absolute;
    bottom: 0px;
    right: 0;
    background-color: rgb(185, 0, 0);
    padding: 2px 7px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    border: solid white 1px;
}

.textContainer {
    text-align: center;
    padding-bottom: 20px;
}

.tileImage:hover {
    opacity: 0.6;
}