

canvas {
	display: block;
}

body .dg .c .slider-fg {
	background: #666;	
}

.slider-fg {
	transition: width 150ms;	
}

.slider:active .slider-fg {
	transition-duration: 0ms;
}

#soundcloud {
	position: absolute;
	z-index: 0;
	left: 0;
	bottom: 0;
	display: flex;
	width: 100%;
}

#player {
  flex: 1;
}

#audioInput {
	width: 100%;
	margin: 0;
	flex: 2;
	padding-left: .5em;
}