.tileContainer {
    height: 250px;
    display: block;
    position: relative;
    cursor: pointer;
}

.tileBackgroundImage {
    height: 250px;
    width: 100%;
}

.small {
    height: 175px;
}

.small > .tileForegroundImageContainer {
    padding: 10px;
}

.tileForegroundImageContainer {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    padding: 25px;
    display: inline-flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.tileForegroundImage {
    max-height: 100%;
    max-width: 100%;
}

.tileContainer:hover {
    opacity: 0.6;
}

.tileDescription {
    padding: 10px;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    display: block;
}