.container {
  position: absolute;
  background: black;
  z-index: 1000;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
}

.logo {
  max-width: 1000px;
  cursor: pointer;
}

.grow { transition: all .3s ease-in-out; cursor: pointer; }
.grow:hover { transform: scale(1.03); }

.iconLogo {
  max-height: 40px;
  height: 3.5vw;
  padding: 0 2vw;
}

.values {
  padding-top: 3vw;
  vertical-align: top;
}

.pageTitle {
  display: inline;
  position: absolute;
  transform:translate(-50%, -100%);
  z-index: -1;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.iconLogo:hover ~ .pageTitle {
  transform:translate(-50%);
  opacity: 1;
}

.iconContainer {
  display: inline-block;
  vertical-align: top;
}

.iconContainer img {
  display: block;
}