.tenseContainer {
    background-image: linear-gradient(to right, black 50%, white 50%);
    background-image: -o-linear-gradient(left, black 50%, white 50%);
    background-image: -moz-linear-gradient(left, black 50%, white 50%);
    background-image: -webkit-linear-gradient(left, black 50%, white 50%);
    background-image: -ms-linear-gradient(left, black 50%, white 50%);
    max-height: 250px;
    display: block;
    cursor: pointer;
}

.tenseImage {
    max-height: 250px;
}

.tenseContainer:hover {
    opacity: 0.6;
}

.tenseDescription {
    
    text-align: center;
    max-height: 0;
    margin: auto;
    display: block;
    transition: all .5s ease-in-out;
}

.tenseDescription.expanded {
    max-height: 2000px;
    padding: 10px;
}

.tenseDescription:not(.expanded) {
    opacity: 0;
}