<footer class="footer">
    <div class="container">
        <span class="footer-bg">
            <a href="https://linkedin.com/in/yusufzerdazi" title="LinkedIn"><i class="fab fa-2x fa-fw fa-linkedin social fade"></i></a>
            <a href="https://github.com/yusufzerdazi" title="GitHub"><i class="fab fa-2x fa-fw fa-github social fade"></i></a>
            <a href="https://facebook.com/yusufzerdazi" title="Facebook"><i class="fab fa-2x fa-fw fa-facebook social fade"></i></a>
            <a href="https://twitter.com/yusufzerdazi" title="Twitter"><i class="fab fa-2x fa-fw fa-twitter social fade"></i></a>
            <a href="https://soundcloud.com/yusufzerdazi" title="Soundcloud"><i class="fab fa-2x fa-fw fa-soundcloud social fade"></i></a>
        </span>
        <span class="footer-right">
            <a class="fade dim" href="https://angular.io" title="Angular"><img width="40px" height="40px" src="./assets/images/angular.svg" /></a>
            <a class="fade dim" href="https://www.microsoft.com/net" title=".NET Core 2"><img width="32px" height="32px" src="./assets/images/NETcore.svg" /></a>
        </span>
    </div>
</footer>