<footer class="footer">
    <div class="container">
        <div class="footer-bg">
            <a href="https://linkedin.com/in/yusufzerdazi" title="LinkedIn">
                <fa-icon [icon]="['fab', 'linkedin']" class="social" size="2x" [fixedWidth]="true"></fa-icon>
            </a>
            <a href="https://github.com/yusufzerdazi" title="GitHub">
                <fa-icon [icon]="['fab', 'github']" class="social" size="2x" [fixedWidth]="true"></fa-icon>
            </a>
            <a href="https://facebook.com/yusufzerdazi" title="Facebook">
                <fa-icon [icon]="['fab', 'facebook']" class="social" size="2x" [fixedWidth]="true"></fa-icon>
            </a>
            <a href="https://twitter.com/yusufzerdazi" title="Twitter">
                <fa-icon [icon]="['fab', 'twitter']" class="social" size="2x" [fixedWidth]="true"></fa-icon>
            </a>
            <a href="https://soundcloud.com/yusufzerdazi" title="Soundcloud">
                <fa-icon [icon]="['fab', 'soundcloud']" class="social" size="2x" [fixedWidth]="true"></fa-icon>
            </a>
        </div>
    </div>
    <div id="footer"></div>
</footer>