
@{
    ViewData["Title"] = "Object Avoiding Robot";
    ViewData["Title-Image"] = "yusuf";
}

<section class="container">
    <div class="section__title">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="section__content">
        <h3 class="section__date"><small class="text-muted"><em>October 1, 2014</em></small></h3>

        <p>
            At AS-Level, I built and programmed a simple, object avoiding robot using Arduino. I used CAD software to design the chassis,
            and an infrared sensor to detect objects:
        </p>

        <div class="row text-center text-lg-left justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <a data-fancybox href="https://www.youtube.com/embed/fxrLrlWRNLk">
                    <img class="img-fluid" src="~/images/object.png" alt="" />
                </a>
            </div>
        </div>

        <p>
            Since then, I have improved the robot, which is now Bluetooth controlled. I used a servo motor to control the steering,
            and a Bluetooth reciever paired with an Android app to control it:
        </p>

        <div class="row text-center text-lg-left justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <a data-fancybox href="https://www.youtube.com/embed/0WHfGhkzuQc">
                    <img class="img-fluid" src="~/images/bluetooth.png" alt="" />
                </a>
            </div>
        </div>
    </div>
</section>