
@{
    ViewData["Title"] = "SLAM Robot";
    ViewData["Title-Image"] = "yusuf";
}

<section class="container">
    <div class="section__title">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="section__content">
        <h3 class="section__date"><small class="text-muted"><em>May 2, 2017</em></small></h3>

        <p>
            As part of the final year of my masters course at university, I produced a project with the Computer Science department.
            My project was to construct a robot which used <a href="https://en.wikipedia.org/wiki/Simultaneous_localization_and_mapping">Simultaneous Localisation and Mapping</a> (SLAM) techniques,
            to map out rooms in real time. The robot was based on a Raspberry Pi, using LEGO Mindstorms components for sensor data and wheel movement, and streamed data to and from a remote laptop
            for control inputs. The project was successful, having major benefits when compared to using raw sensor data to map out rooms, and there is scope for further work to be done by implementing
            more robust sensors. I attained 80% in this project, which made up half of the final year of my degree.
        </p>

        <div class="row text-center text-lg-left justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <a data-fancybox="gallery" href="~/images/slam.png" class="mb-4 d-block h-100"><img class="img-fluid" src="~/images/slam_small.png" alt="" /></a>
            </div>
        </div>
    </div>
</section>