
@{
    ViewData["Title"] = "Virtual Lecture Hall";
    ViewData["Title-Image"] = "yusuf";
}

<section class="container">
    <div class="section__title">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="section__content">
        <h3 class="section__date"><small class="text-muted"><em>April 21, 2015</em></small></h3>

        <p>I attained 100% in this assignment, to create a 3D virtual lecture hall using JavaScript and WEB-GL. This assignment can be viewed below - try kicking all the shapes outside the door onto the roof for an easter egg!</p>

        <div class="row text-center text-lg-left justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <a data-fancybox data-type="iframe" data-src="/js/virtual-lecture-hall/index.html" href="javascript:;">
                    <img class="img-fluid" src="~/images/lecture.png" alt="" />
                </a>
            </div>
        </div>
    </div>
</section>