.value_image
{
    /* border: 1px solid black; */
    max-height: 250px;
    max-width: 250px;
    cursor: pointer;
}

.value_image_container {
    background-color: white;
    max-height: 250px;
    max-width: 250px;
}

.value_container{
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    max-width: 250px;
}

h1, h2, h3 {
    font-family: 'Playfair Display', sans-serif;
    color: white;
}

@media (max-width: 768px) { 
    h2 {
        font-size: 1.3em;
    }
}

.value_image_overlay {
    max-height: 250px;
    padding-bottom: 10px;
}

.value_image:hover {
    opacity: 0.9;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 125%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    z-index: 5000; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay_text{
    position: absolute;
    top: 50%;
    left: 40%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}