@fortawesome:registry=https://npm.fontawesome.com/D18AD36B-1A55-4A18-A3C2-CF5D02F4E060
@fortawesome:always-auth=false
registry=https://zerdazi.pkgs.visualstudio.com/_packaging/Yusuf.Zerdazi/npm/registry/:always-auth
always-auth=true