.pi_robot {
    /* background-color: #7e7e7f; */
    background-color: lightgray;
}
section .poster_content {
    background-color: white;
    padding: 10px;
}
section .poster_title {
    background-color: #ca98c5;
    padding: 0 0 0 10px;
    font-weight: bold;
    display:block;
}
section .poster_number {
    background-color: #663265;
    color: white;
    float: right;
    padding: 0 6px;
}