
.cv h1, .cv h2, .cv h3, .cv h4, .cv h5 {
    color: rgb(33, 54, 71);
    font-family: 'Trebuchet MS', sans-serif;
}

.cv p {
    color: rgb(33, 54, 71);
}

.header {
    text-align: center;
}

.dotted {
    border: none;
    border-top: 4px dotted rgb(173 179 194);
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
    padding-bottom: 10px;
}

.sidebar {
    border-left: dotted 4px rgb(173 179 194);
}

.content {
    padding-top: 10px;
}

.para {
    padding-left: 10px;
}

.cv h5 > b {
    color: #797f8e
}