body {
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.appContainer {
  padding-bottom:52px;
  position: relative;
  min-height: calc(100vh - 2px);
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1000;
  min-width: 100%;
  min-height: 100%;
}

.videoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1000;
}

h1, h2, h3 {
  font-family: 'Sora', sans-serif;
  color: white;
}

h1 {
  font-weight: 600;
}

p {
  color: white;
}

a {
  text-decoration: none!important;
}

.tab-content {
  padding-top: 10px;
}