.the-mondays {
    background-color: #1e1e1e;
}

.everydays {
    background-color: black;
}

.everydays {
    /* top, transparent black, faked with gradient */ 
    background-color: black;
}

.the-mondays {
    background-color: #1e1e1e;
}