.streamImage {
    width:100%;
}

.carouselContainer {
    padding: 0px 20vw 40px;
}

@media (max-width:768px) { 
    .carouselContainer {
        padding: 0px 80px 40px;
    }
} 

@media (min-width:768px) { 
    .carouselContainer {
        padding: 0px 150px 40px;
    }
}